/*вспомогательные классы*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body{
    font-family: 'Open Sans' , sans-serif;
}

.cw-btn-flat {
    background: none;
    padding: 0;
    border: none;
    outline: none;
}

.centered{
    text-align: center;
}
.relative{
    position: relative;
}

.text-green{
    color: #145cdd;
    text-decoration: none;
}

hr{
    size: 3px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-blocks{
    margin-bottom: 20px;
}

.zag{
    margin-bottom: 15px;
}
/*шапка*/

nav{
    width: 100%;
}

#mainNav{
    background-color: rgba(255,255,255,1);
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link{
    color:#26486a;
    font-family: 'Open Sans' , sans-serif;
}


#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover{
    color: #5d9ec8;
    font-family: 'Open Sans' , sans-serif;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #26486a;
    font-family: 'Open Sans' , sans-serif;
}


#mainNav .navbar-toggler{
    font-family: 'Open Sans' , sans-serif;
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    background-color: #1dc869;
}

.fa-bars{
    font-size: 20px;
    color:#000;
}

.fa-facebook-f{
    font-size: 22px;
    color:#898989;
}

.fa-facebook-f:hover{
    font-size: 22px;
    color:#1dc869;
}

.fa-twitter{
    font-size: 22px;
    color:#898989;
}

.fa-twitter:hover{
    font-size: 22px;
    color:#1dc869;
}

.fa-instagram{
    font-size: 22px;
    color:#898989;
}

.fa-instagram:hover{
    font-size: 22px;
    color:#1dc869;
}


#mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Open Sans' , sans-serif;
    border:1px solid;
    border-color:rgba(192,192,192,0.3);
}

#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
}

.navbar-shirnk .navbar-nav .nav-item .nav-link{
    color: #000;
}

#mainNav img{
    width: 200px;
}


@media (min-width: 992px) {
    #mainNav {
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link{
        color:#000000;
        font-family: 'Open Sans' , sans-serif;
    }

    #mainNav .navbar-nav .nav-item .nav-link.active{
        color: #2d5982;
        font-family: 'Open Sans' , sans-serif;
        font-weight: 600;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link{
        color:#000;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color:#000;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color:rgba(255,255,255,0.95);
        font-family: 'Open Sans' , sans-serif;

    }


    #mainNav.navbar-shrink img{
        width: 200px;
        height: auto;
    }


}




.mywrap{
    background: rgba(183, 201, 229, 0.8)  no-repeat center top;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.text-intro{
    margin-top: 120px;
    font-weight: 300;
    font-size:56px;
    color: #000000;
}

.text-lead {
    font-size:18px;
    color: #434343;


}

@media (min-width: 768px) {
    .text-intro{
        margin-top: 220px;
        font-weight: 400;
        font-size:62px;
        color: #000000;
    }
    .text-lead {
        font-size:25px;
        color: #434343;
    }

}
.text-danger{
    padding: 0 !important;
    margin: 0 !important;
}
.mybtn{
    margin-top:25px;
    padding: 10px 60px 10px 60px;
    background-color: #37788B !important;
    border: none;

}

.mybtn:hover{
    background-color: #26486a !important;
}

.mouse{
    margin-top:10%;
}

.scroll-text{
    color:#6E6E6E;
    text-decoration: none;
}


.mouse{
    margin-top: 40px;
}
/*our mission*/

#mission{
    min-height: 540px;
    width: 100%;
}

.intro{
    margin-top:50px;
    font-weight: 400;
    font-size: 54px;

}

.lead{
    font-size: 19px;
    color: #434343;
}

.cards{
    margin-top: 50px;
}

.card-deck .card {
    min-width: 220px;
}

.my-0{
    padding-bottom: 30px;
}

/*solutions*/

#cwsolutions{
    min-height: 850px;

}

@media (min-width: 768px) {
    .sol-blocks-container{
        padding-left: 90px;
    }
}


.img-sol{
    width: 65px;
}

.solutions-wrap{
    background: rgba(192,192,192, 0.6) no-repeat center top;
    background-size: cover;
    background-position: center center;
    min-height: 914px;
    width: 100%;
    position: relative;
}


.blocks-sol{
    max-width: 90%;

}

.media-body{
    margin-left:15px;
}


/*solutions end*/


/*modal style*/

.close{
    background-color:  #1dc869;
}

.modal-lg{
    max-width: 90% !important;
}

@media (min-width: 1600px) {
    .modal-lg{
        max-width: 60% !important;
    }

}

.btn-modal{
    margin-bottom: 50px;
}

.modal-text{
    max-width: 400px;
}

.intro-modal{
    font-weight: 400;
    font-size: 46px;

}

/* end modal style*/


/*Digital Services*/

#digitalservices{
    min-height: 830px;
    width: 100%;
}


#contact{
    min-height: 760px;
    width: 100%;
}

.contact-wrap{
    background: rgba(199, 209, 224,1) no-repeat center top;
    background-size: cover;
    background-position: center center;
    min-height: 828px;
    width: 100%;
    position: relative;
    z-index: 999;


}

@media (max-width: 768px) {
    .contact-wrap{
        padding-bottom: 20px;
    }
}

.form-group{
    font-family: 'Open Sans', sans-serif;

}



#map {
    width: 100%;
    height: 400px;
}


.contact-email{
    font-size: 25px;
    font-weight: 900;
}


#footer{
    text-align: center;

}



.container-footer{
    width: 98%;
}

.form-row{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;

}

.help-block{
    padding:0;
    margin:0;
}

.sentMessage{
    width: 70%;
    margin-top: 50%;
    font-family: 'Open Sans', sans-serif;

}



input[type="text"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}


input[type="email"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

input[type="sub"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

input[type="tel"]::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

textarea::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

@media  (min-width: 768px) {

    .form{
        width: 60%;



    }



    .btn-form{
        margin-bottom: 20px;
        color:#ffffff;
    }

    footer {
        padding: 25px 0;
        text-align: center;
    }
    .phonenumber{
        text-align: center;
        line-height: 40px;

    }

    .phonenumber:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    .copyright {
        font-size: 90%;
        line-height: 40px;
        text-transform: none;
    }
    .quicklinks {

        font-size: 90%;
        line-height: 40px;
        margin-bottom: 0;
        text-transform: none;
    }

    .social-buttons {
        margin-bottom: 0;
    }
    .social-buttons li a {

        font-size: 20px;
        line-height: 40px;
        display: block;
        width: 40px;
        height: 40px;

    }
}

@media  (max-width: 768px) {

    .tel-col{
        margin-top: 10px;
    }


}
