<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <style>
        .error-message {
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container py-5 ">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">New service</h3>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" role="form" th:object="${service}" autocomplete="off"
                                  id="registrationForm" action="/company/addservice" novalidate="novalidate"
                                  method="POST">
                                <!--<div class="alert alert-danger" th:unless="${param.error == null}">Wrong username or-->
                                <!--password-->
                                <!--</div>-->
                                <div class="form-group blu-margin">
                                    <select class="form-control" th:field="${service.category}"  id="dropOperator" required>
                                        <option value="">Select Category</option>
                                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a category.
                                    </div>
                                </div>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('category')}"
                                   th:text="${error}">Validation error</p>
                                <div class="form-group">
                                    <label for="title">Service title</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" th:field="${service.title}"
                                           id="title" required>
                                    <div class="invalid-feedback">
                                        Please provide a title for your service.
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('title')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea type="text" class="form-control form-control-lg rounded-0"
                                              th:field="${service.description}" id="description" required></textarea>
                                    <div class="invalid-feedback">
                                        Please provide a description for your service.
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('description')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control form-control-lg rounded-0" name="price"
                                           id="price" required>
                                    <div class="invalid-feedback">Please provide a price.</div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('price')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <button type="button" onclick="createServiceConfirmation()" class="btn btn-success" id="btnRegister">
                                    Add service
                                </button>
                                <a onclick="cancelCreateService()"  role="button" class="btn btn-danger" id="btnCancel">
                                    Cancel
                                </a>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
<!-- Modal first confirm -->
<div class="modal fade" id="modalFirstConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="clickModalYes()" class="btn btn-primary">Yes</button>
                <button type="button" onclick="clickModalNo()" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancel confirm -->
<div class="modal fade" id="modalCancelConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelexampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="clickCancelModalYes()" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function cancelCreateService() {
        $('#modalCancelConfirm .modal-body').text("Your entry data will be lost, are you sure you want to continue?");
        $('#modalCancelConfirm .modal-title').text("Confirm");
        $("#modalCancelConfirm").modal("show");
    }

    function createServiceConfirmation(){
        $('#modalFirstConfirm .modal-body').text("Are you sure you want to create a new service?");
        $('#modalFirstConfirm .modal-title').text("Confirm");
        $("#modalFirstConfirm").modal("show");
    }

    function clickModalYes(){

        $("#registrationForm").submit();
    }

    function clickModalNo(){
        $("#modalConfirm").hide();
    }

    function clickCancelModalYes() {
        window.location = "/company/serviceList";
    }
</script>

</body>
</html>