<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit invoice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/companyInvoicesStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bg-primary.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="inline">
        <img src="/images/logo.png" style="height: 35px; width: 35px;" alt="logo">
        <span class="navbar-brand">Digital Marketplace</span>
    </div>    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/company/serviceList">My services</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/company/mycontracts">My contracts</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/company/myinvoices">My invoices</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/company/statements">Statements</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <span style="display:block;padding:.5rem 1rem; color: white">Hi, <span id="companyName" th:text="${username}"></span>! <span
                        id="balance"></span></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company/cabinet">Personal cabinet <i class="fa fa-user"
                                                                                style="font-size:16px; color:white"></i></a>
            </li>
            <li class="nav-item fa-stack">
                <a class="nav-link" href="/company/notifications">
                    <i class="fa fa-envelope fa-stack-2x" style="font-size: 20px; color:white">
                        <i class="fa fa-circle fa-stack-1x" id="unreadMessages"
                           style="color:red; font-size: 12px; top:-2px; left: 8px; display: none"></i>
                    </i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout <i class="fa fa-sign-out"
                                                             style="font-size:16px; color:white"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 15px;">
    <div class="alert alert-success" id="successSending" style="display:none">
        <strong>Success!</strong> You have sent newly created invoices to clients.
    </div>
    <div class="alert alert-success" id="successCanceling" style="display:none">
        <strong>Success!</strong> You have cancel an invoice.
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Edit invoice</h3>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" role="form" th:object="${invoice}" autocomplete="off"
                                  id="registrationForm" action="/company/editInvoice" novalidate="novalidate"
                                  method="POST">
                                <!--<div class="alert alert-danger" th:unless="${param.error == null}">Wrong username or-->
                                <!--password-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label for="contractId">Contract No.</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" th:field = "*{contractId}"
                                           id="contractId" required="" th:readonly="readonly">
                                </div>

                                <div class="form-group">
                                    <label for="invoiceId">Invoice No.</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" th:field = "*{invoiceId}"
                                           id="invoiceId" required="" th:readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="clientName">Client</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" th:field = "*{clientName}"
                                           id="clientName" required="" th:readonly="readonly">
                                </div>

                                <div class="form-group">
                                    <label for="service">Subscription plan</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" th:field = "*{service}"
                                           id="service" required="" th:readonly="readonly">
                                </div>

                                <div class="form-group">
                                    <label for="fromDate">From date</label>
                                    <input type="date" class="form-control form-control-lg rounded-0" th:field = "*{fromDate}"
                                           id="fromDate" required>
                                    <div class="invalid-feedback">
                                        Please provide a date.
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('fromDate')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group">
                                    <label for="tillDate">To date</label>
                                    <input type="date" class="form-control form-control-lg rounded-0" th:field = "*{tillDate}"
                                           id="tillDate" required>
                                    <div class="invalid-feedback">
                                        Please provide a date.
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('tillDate')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group">
                                    <label for="dueDate">Due date</label>
                                    <input type="date" class="form-control form-control-lg rounded-0" th:field = "*{dueDate}"
                                           id="dueDate" required>
                                    <div class="invalid-feedback">
                                        Please provide a date.
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('dueDate')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" th:field = "*{price}"
                                           id="price" required>
                                    <div class="invalid-feedback">
                                        Please provide a price.
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('price')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>
                                <button type="submit"  class="btn btn-primary " id="btnRegister">
                                    Update
                                </button>
                                <a onclick="cancelCreateInvoice()"  role="button" class="btn btn-danger" id="btnCancel">
                                    Cancel
                                </a>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
<script type="text/javascript" th:src="@{/js/companyRegistrationScript.js}"></script>
<script>
    // $(document).ready(function () {
    //     if (Cookies.get("conflict") === "true"){
    //         if(confirm("You already have an invoice in this period,do you want to create a new one?")){
    //             Cookies.remove('conflict', {path: '/company'})
    //             Cookies.set("conflict","false");
    //             $("#btnRegister").click();
    //         }
    //     }
    // })

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function cancelCreateInvoice() {
        if (confirm("Are you sure you want to cancel invoice update?")) {
            window.location = "/company/myinvoices";
        }
    }

</script>
<script type="text/javascript" th:src="@{/js/downloadBalanceAndMessages.js}"></script>
</body>
</html>